[Unit]
Description=Avax Node
After=network.target auditd.service
Wants=network.target
StandardOutput=syslog+console
StandardError=syslog+console

[Service]
WorkingDirectory={{ root_dir }}
ExecStart={{ root_dir }}/avalanchego/build/avalanchego --http-host=
User={{ ansible_user }}
Group={{ ansible_user }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=avalanche.service
