[Unit]
Description=Geth Node
After=network.target auditd.service
Wants=network.target

[Service]
WorkingDirectory={{ geth_data_path }}
ExecStart=/usr/bin/geth --syncmode {{ geth_sync_mode }} --datadir {{ geth_data_path }} --cache {{ geth_cache }} --nat none --port 38336 --ws --ws.port 8546 --ws.origins * --http --http.port 8545 --http.corsdomain * --http.vhosts * --ws.addr {{ geth_ws_address }}  --http.addr {{ geth_http_address }} --maxpeers {{ geth_max_peers }} --http.api="eth,net,web3,personal" --ws.api="eth,web3,txpool,net" --metrics --pprof --txpool.globalslots 1000000 --txpool.globalqueue 1000000
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=geth.service
