# default /etc/electrumx.conf for systemd

# REQUIRED
DB_DIRECTORY={{ electrumx_data_path }}
# Bitcoin Node RPC Credentials
DAEMON_URL={{ btc_rpc_url }}

# COIN = BitcoinSegwit

# See http://electrumx.readthedocs.io/en/latest/environment.html for
# information about other configuration settings you probably want to consider.