[Unit]
Description=Electrumx
After=network.target

[Service]
EnvironmentFile=/etc/electrumx/electrumx.conf
ExecStart={{ folder_electrumx}}/electrumx_server
User=electrumx
LimitNOFILE=8192
TimeoutStopSec=10min

[Install]
WantedBy=multi-user.target
