# Default configuration for LTC ElectrumX

DB_DIRECTORY={{ electrum_data_path }}
COIN=BitcoinCashABC
DB_ENGINE=leveldb
DAEMON_URL=http://{{ rpc_user }}:{{ rpc_password }}@{{ bch_node_ip }}:8332/
SSL_CERTFILE={{ electrum_cert_path }}/cert.pem
SSL_KEYFILE={{ electrum_cert_path }}/key.pem
ALLOW_ROOT=true
SERVICES=tcp://:50001,ssl://:50002,ws://:50003,wss://:50004,rpc://
MAX_SEND=10000000
COST_HARD_LIMIT=0
COST_SOFT_LIMIT=0
REQUEST_SLEEP=0
REQUEST_TIMEOUT=600
BANDWIDTH_UNIT_COST=999999999999
INITIAL_CONCURRENT=100
PEER_ANNOUNCE=self
