###################
###### HTTPS ######
###################

upstream mia-btc-node-http {
    least_conn;
    server 10.0.41.20:8332 fail_timeout=0;
    keepalive 8;
}

upstream mia-btc-electrumx-http {
    least_conn;
    server 10.0.41.21:50001 fail_timeout=0;
    keepalive 8;
}

upstream mia-eth-node-http {
    least_conn;
    server 10.0.41.5:8545 fail_timeout=0;
    keepalive 8;
}

upstream mia-ltc-electrumx-http {
    least_conn;
    server 10.0.41.23:50001 fail_timeout=0;
    keepalive 8;
}

upstream mia-matic-node-http {
    least_conn;
    server 10.0.41.6:8545 fail_timeout=0;
    keepalive 8;
}

upstream mia-bch-electrumx-http {
    least_conn;
    server 10.0.41.25:50001 fail_timeout=0;
    keepalive 8;
}

upstream mia-avax-node-http {
    least_conn;
    server 10.0.41.8:9650 fail_timeout=0;
    keepalive 8;
}

upstream mia-ada-node-http {
    least_conn;
    server 10.0.41.9:1337 fail_timeout=0;
    keepalive 8;
}

#################
###### WSS ######
#################

upstream mia-btc-node-wss {
    least_conn;
    server 10.0.41.21:50003 fail_timeout=0;
    keepalive 8;
}

upstream mia-eth-node-wss {
    least_conn;
    server 10.0.41.5:8546 fail_timeout=0;
    keepalive 8;
}

upstream mia-ltc-node-wss {
    least_conn;
    server 10.0.41.23:50003 fail_timeout=0;
    keepalive 8;
}

upstream mia-matic-node-wss {
    least_conn;
    server 10.0.41.6:8546 fail_timeout=0;
    keepalive 8;
}

upstream mia-bch-node-wss {
    least_conn;
    server 10.0.41.25:50003 fail_timeout=0;
    keepalive 8;
}

upstream mia-avax-node-wss {
    least_conn;
    server 10.0.41.8:9650 fail_timeout=0;
    keepalive 8;
}

upstream mia-ada-node-wss {
    least_conn;
    server 10.0.41.9:1337 fail_timeout=0;
    keepalive 8;
}

server {
    listen 80;
    return 301 https://mia.gw.xhain.io$request_uri;
}

server {
    listen 443 ssl;
    server_name mia.gw.xhain.io;
    keepalive_timeout 70;

    ssl_certificate  /etc/nginx/ssl/ssl-cert-mia-gw.crt;
    ssl_certificate_key /etc/nginx/ssl/private/ssl-cert-mia-gw.key;

    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    #####################
    #### HTTPS ROUTE ####
    #####################

    location /btc/node {

        rewrite /btc/node/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-btc-node-http;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /btc {

        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/btc_htpasswd;

        rewrite /btc/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-btc-electrumx-http;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /eth {
	
        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/eth_htpasswd;
    
        rewrite /eth/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-eth-node-http/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ltc {

        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/ltc_htpasswd;

        rewrite /ltc/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-ltc-electrumx-http;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /matic {

        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/matic_htpasswd;

        rewrite /matic/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-matic-node-http/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /bch {

        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/bch_htpasswd;

        rewrite /bch/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-bch-electrumx-http;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /avax {

        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/avax_htpasswd;

        rewrite /avax/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-avax-node-http;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ada {

        # Authenticate
        auth_basic "Restricted Endpoint";
        auth_basic_user_file /etc/htconfig/ada_htpasswd;
 
        rewrite /ada/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-ada-node-http;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    ###################
    #### WSS ROUTE ####
    ###################

    location /ws/btc {

        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;

        rewrite /ws/btc/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-btc-node-wss;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/eth {
	
        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;
    
        rewrite /ws/eth/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-eth-node-wss/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/ltc {

        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;

        rewrite /ws/ltc/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-ltc-node-wss;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/matic {

        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;

        rewrite /ws/matic/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-matic-node-wss/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/bch {

        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;

        rewrite /ws/bch/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-bch-node-wss;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/avax {

        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;

        rewrite /ws/avax/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-avax-node-wss;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/ada {

        #WPB
        allow 132.148.135.151/32;
	#Home Internet
	allow 108.83.65.156/32;
        deny all;
 
        rewrite /ws/ada/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-ada-node-wss;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

}
