upstream mia-btc-node {
    least_conn;
    server 10.0.41.21:50003 fail_timeout=0;
    keepalive 8;
}

upstream mia-eth-node {
    least_conn;
    server 10.0.41.5:8546 fail_timeout=0;
    keepalive 8;
}

upstream mia-ltc-node {
    least_conn;
    server 10.0.41.23:50003 fail_timeout=0;
    keepalive 8;
}

upstream mia-matic-node {
    least_conn;
    server 10.0.41.6:8546 fail_timeout=0;
    keepalive 8;
}

upstream mia-bch-node {
    least_conn;
    server 10.0.41.25:50003 fail_timeout=0;
    keepalive 8;
}

upstream mia-avax-node {
    least_conn;
    server 10.0.41.8:9650 fail_timeout=0;
    keepalive 8;
}

upstream mia-ada-node {
    least_conn;
    server 10.0.41.9:1337 fail_timeout=0;
    keepalive 8;
}

server {
    listen 80;
    return 301 https://mia.gw.xhain.io$request_uri;
}

server {
    listen 443 ssl;
    server_name mia.gw.xhain.io;
    keepalive_timeout 70;

    ssl_certificate  /etc/nginx/ssl/ssl-cert-mia-gw.crt;
    ssl_certificate_key /etc/nginx/ssl/private/ssl-cert-mia-gw.key;

    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    location /ws/btc {

	#Home Internet
	allow 108.83.65.156/32;
	#Chance Subnet
        allow 23.161.96.0/24;
	#Navegalo Subnet
        allow 190.194.199.64/28;
        deny all;

        rewrite /ws/btc/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-btc-node;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/eth {
	
	#Home Internet
	allow 108.83.65.156/32;
	#Chance Subnet
        allow 23.161.96.0/24;
	#Navegalo Subnet
        allow 190.194.199.64/28;
	#WPB
	allow 132.148.135.151/32;
        deny all;
    
        rewrite /ws/eth/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-eth-node/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/ltc {

	#Home Internet
	allow 108.83.65.156/32;
	#Chance Subnet
        allow 23.161.96.0/24;
	#Navegalo Subnet
        allow 190.194.199.64/28;
        deny all;

        rewrite /ws/ltc/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-ltc-node;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/matic {

	#Home Internet
	allow 108.83.65.156/32;
	#Chance Subnet
        allow 23.161.96.0/24;
	#Navegalo Subnet
        allow 190.194.199.64/28;
        deny all;

        rewrite /ws/matic/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-matic-node/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/bch {

        #Home Internet
        allow 108.83.65.156/32;
        #Chance Subnet
        allow 23.161.96.0/24;
        #Navegalo Subnet
        allow 190.194.199.64/28;
        deny all;

        rewrite /ws/bch/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-bch-node;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/avax {

        #Home Internet
        allow 108.83.65.156/32;
        #Chance Subnet
        allow 23.161.96.0/24;
        #Navegalo Subnet
        allow 190.194.199.64/28;
        deny all;

        rewrite /ws/avax/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-avax-node;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

    location /ws/ada {

        #Home Internet
        allow 108.83.65.156/32;
        #Chance Subnet
        allow 23.161.96.0/24;
        #Navegalo Subnet
        allow 190.194.199.64/28;
        deny all;
 
        rewrite /ws/ada/(.*) /$1  break;
        proxy_redirect off;
        proxy_pass http://mia-ada-node;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_buffers 8 32k;
        proxy_buffer_size 64k;
        proxy_read_timeout 999999999;
    }

}
