upstream mia-ltc-node {
    least_conn;
    server 10.0.41.23:50003 fail_timeout=0;
    keepalive 8;
}

server {
    listen 80;
    server_name mia-ltc.gw.xhain.io;
    return 301 https://mia-ltc.gw.xhain.io$request_uri;
}

server {
    listen 443;
    server_name mia-ltc.gw.xhain.io;
    keepalive_timeout 70;

    ssl_certificate  /etc/nginx/ssl/ssl-cert-mia-gw.crt;
    ssl_certificate_key /etc/nginx/ssl/private/ssl-cert-mia-gw.key;

    location /ws/ltc {
        proxy_pass http://mia-ltc-node;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}
