[Unit]
  Description=bor.service
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  WorkingDirectory=~/
  ExecStart=/bin/bash ~/start_bor.sh
  Type=simple
  User=root

[Install]
  WantedBy=multi-user.target
