[Unit]
  Description=heimdalld.service
  StartLimitIntervalSec=500
  StartLimitBurst=5

[Service]
  Restart=on-failure
  RestartSec=5s
  WorkingDirectory=~/
  ExecStart=~/go/bin/heimdalld start --home=/home/{{ ansible_user }}/.heimdall_data
  Type=simple
  User=root

[Install]
  WantedBy=multi-user.target
