#!/bin/bash

######################
# This script is use to install Heimdall and Bor Snapshot
######################

sudo systemctl stop heimdalld
sudo systemctl stop bor

# For Hiemdall
sudo rm -rf {{ root_dir }}/.heimdalld/data/*.db
cd /tmp/ 
wget -c {{ snapshot_url }}/{{ heimdall_snapshot }} -O - | \
    sudo tar -xzf - -C {{ root_dir }}/.heimdalld/data/
sudo chown -R root:root {{ root_dir }}/.heimdalld/data/
sudo rm -rf *.db {{ heimdall_snapshot }}

# For Bor
sudo rm -rf {{ root_dir }}/.bor/data/bor/chaindata/*.ldb
cd /tmp/
wget -c {{ snapshot_url}}/{{ bor_snapshot }} -O - | \
    sudo tar -xzf - -C {{ root_dir }}/.bor/data/bor/chaindata/
sudo chown -R root:root {{ root_dir }}/.bor/data/bor/chaindata/
sudo rm -rf *.db {{ bor_snapshot }}

sudo systemctl restart heimdalld
sudo systemctl restart bor
