#!/bin/bash

echo "........ installing required packages ........"

# Install required packages
cd {{ root_dir }}/cardano/libsodium
git checkout {{ libsodium_version }}
./autogen.sh
./configure
make
sudo make install

echo "........ completely installed required packages ........"
echo "........ building required binaries ........"

# Build Cardano
cd {{ root_dir }}/cardano/cardano-node
git fetch --all --recurse-submodules --tags
git checkout $(curl -s https://api.github.com/repos/input-output-hk/cardano-node/releases/latest | jq -r .tag_name)
sudo chown -R {{ ansible_user }}:{{ ansible_user }} {{ root_dir }}/cardano
{{ root_dir }}/.ghcup/bin/cabal update
{{ root_dir }}/.ghcup/bin/cabal configure --with-compiler={{ root_dir }}/.ghcup/bin/ghc-8.10.7
{{ root_dir }}/.ghcup/bin/cabal build cardano-node cardano-cli

echo "........ completely built required binaries ........"

# Copy Binary
cd {{ root_dir }}/cardano/cardano-node
cp -p "$(./scripts/bin-path.sh cardano-node)" {{ root_dir }}/.local/bin/
cp -p "$(./scripts/bin-path.sh cardano-cli)" {{ root_dir }}/.local/bin/

# Run Cardano
echo "........ cardano-full-node can now be started ........"
echo "........ run: sudo systemctl restart cardano.service ........"