#!/bin/bash

{{ root_dir }}/.ghcup/bin/ghcup upgrade # upgrade to 0.1.16.2
{{ root_dir }}/.ghcup/bin/ghcup upgrade # upgrade to 0.1.17.4
{{ root_dir }}/.ghcup/bin/ghcup install 8.10.7
{{ root_dir }}/.ghcup/bin/ghcup set 8.10.7
{{ root_dir }}/.ghcup/bin/ghcup install-cabal 3.6.2.0
