#!/bin/bash

DIR={{ root_dir }}/.cardano
if [[ ! -d "$DIR" ]]; then
    mkdir -p {$DIR/config,$DIR/db}
fi

CONFIG_FILE=`find $DIR/config/ -maxdepth -1 -type f -name "*.json" | wc -l`
if [[ $CONFIG_FILE -lt 5 ]]; then
    rm -rf $DIR/config/*.json
    cd $DIR/config/
    curl -O -J https://hydra.iohk.io/build/7370192/download/1/mainnet-config.json
    curl -O -J https://hydra.iohk.io/build/7370192/download/1/mainnet-byron-genesis.json
    curl -O -J https://hydra.iohk.io/build/7370192/download/1/mainnet-shelley-genesis.json
    curl -O -J https://hydra.iohk.io/build/7370192/download/1/mainnet-alonzo-genesis.json
    curl -O -J https://hydra.iohk.io/build/7370192/download/1/mainnet-topology.json
else
    echo config files exist!
fi

