 [Unit]
Description=Ogmios
After=network.target

[Service]
Type=simple
ExecStart={{ root_dir }}/.local/bin/ogmios --host 0.0.0.0 --node-config {{ root_dir }}/.cardano/config/mainnet-config.json --node-socket {{ root_dir }}/.cardano/db/node.socket
User=root
Group=root
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
Alias=ogmios.service
