#!/bin/bash

ADDED_PATH_GHCUP=`grep ".cabal/bin" {{ root_dir }}/.bashrc`
if [[ "$ADDED_PATH_GHCUP" == *".cabal/bin"* ]]; then
    echo "Path is already added!"
else
    echo "Path is not yet added, adding it now..."
    echo 'export PATH="$HOME/.cabal/bin:$HOME/.ghcup/bin:$PATH"' >> {{ root_dir }}/.bashrc
fi

ADDED_PATH_LD=`grep "LD_LIBRARY_PATH" ~/.bashrc`
if [[ $ADDED_PATH_LD == *LD_LIBRARY_PATH* ]]; then
    echo "Path is already added!"
else
    echo "Path is not yet added, adding it now..."
    echo 'export LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"' >> ~/.bashrc
fi

ADDED_PATH_PKG=`grep "PKG_CONFIG_PATH" ~/.bashrc`
if [[ $ADDED_PATH_PKG == *PKG_CONFIG_PATH* ]]; then
    echo "Path is already added!"
else
    echo "Path is not yet added, adding it now..."
    echo 'export PKG_CONFIG_PATH="/usr/local/lib/pkgconfig:$PKG_CONFIG_PATH"' >> ~/.bashrc
fi

ADDED_PATH=`grep ".local/bin" ~/.bashrc`
if [[ $ADDED_PATH == *.local/bin* ]]; then
    echo "Path is already added!"
else
    echo "Path is not yet added, adding it now..."
    echo 'export PATH="$HOME/.local/bin/:$PATH"' >> ~/.bashrc
fi